<h1> The <%= @test_passage.test.title %> Test was Completed!</h1>

<% if @test_passage.test_passed? %>
  <h2 class="green"><%= @test_passage.success_count.round %>%</h2><br>
  <h2>Test passed successfully!</h2>
<% else %>
  <h2 class="red"><%= @test_passage.success_count.round %>%</h2><br>
  <h2>Test failed!</h2>
<% end %>

<%= link_to 'All tests', tests_path %>