<% if resource.errors.present? %>
  <div class="ms-3"> 
    <h2><%= t('.header', count: resource.errors.count) %></h2>

    <ul class="alert alert-success" role="alert">
      <% resource.errors.full_messages.each do |messages| %>
        <li><%= messages %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
