<footer>
  <div class="container">
    <p>
      © <%= current_year %> Author: Vladislav Ganiev
    </p>
    
    <p>
      <%= github_url('Vlad2088', 'test_guru')%>
    </p>

    <p>
      School project <a target="_blank" href="http://www.thinknetica.com/">Thinknetica</a>
    </p>
  </div>
</footer>
