<footer class="footer">
  <div class="container-fluid">

    <span class="navbar-text me-3">
      © <%= current_year %> <%= t('.author') %>
    </span>
    
    <span class="navbar-text me-3">
      <%= github_url('Vlad2088', 'test_guru')%>
    </span>

    <li>
      School project <a target="_blank" href="http://www.thinknetica.com/">Thinknetica</a>
    </li>

    <span class="btn btn-light">
      <%= link_to t('.feedback'), new_feedback_path %>
    </span>
  </div>
</footer>
